<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <span class="navbar-item nav-title">
      InExTracker
    </span>

    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="my-nav">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="my-nav" class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item" routerLinkActive="is-active" routerLink='home'>
        <i class="fas fa-home"></i>
        Home
      </a>

      <a class="navbar-item" routerLinkActive="is-active" routerLink='dashboard'>
        Dashboard
      </a>

    </div>

    <div class="navbar-end">
        <a class="navbar-item" *ngIf="auth.isLoggedIn()" (click)="onLogout()">
          <i class="fas fa-sign-out-alt"></i>
          Sign out
        </a>
    </div>

  </div>
</nav>
