<div class="main">
    <form class="screen-center" [formGroup]="loginForm" (ngSubmit)="onSubmit()">


        <mat-form-field appearance="legacy">
            <mat-label>Email</mat-label>
            <input matInput type="email" formControlName="email" (click)="hideError()">
            <mat-icon matSuffix fontSet="fas" fontIcon="fa-envelope" class="fa-icon"></mat-icon>
        </mat-form-field>
        
        <mat-form-field appearance="legacy">
            <mat-label>Password</mat-label>
            <input matInput type="password" formControlName="password" onfocus="this.value=''" (click)="hideError()">
            <mat-icon matSuffix fontSet="fas" fontIcon="fa-lock" class="fa-icon"></mat-icon>
        </mat-form-field>

        <small class="formError" *ngIf="displayError">{{errorMsg}}</small>

        <button mat-stroked-button color="primary" type="submit" [disabled]="!loginForm.valid" *ngIf="!displaySpinner">Login</button>
        <span class="spinner">
            <app-spinner [size]="'4rem'" *ngIf="displaySpinner"></app-spinner>
        </span>

    </form>
</div>