.form {
  width: fit-content;
  margin: 1rem auto;
}

.control, select {
  width: 20rem;
}

.btn-group {
  display: flex;
  justify-content: space-around;
  button {
    width: 30%;
  }
}

.error {
  color: red;
  border-color: red;
}