.container {
  width: 95%;
  padding-bottom: 1rem;
  height: calc(100% - 52px - 2.5rem);
  overflow-y: scroll;

  .section {
    padding-top: 1rem;
    padding-bottom: 0;
    overflow-y: hidden;

    .head {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      border-bottom: 2px solid var(--quaternary);
      padding-bottom: 0.5rem;

      .title {
        margin: 0;
        font-size: x-large;
        color: var(--secondary);
      }

    }

    .content {

      ul {
        margin: 0.5rem 0;
      }

      li {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 0 0.5rem;

        span {
          width: 30%;
          text-align: center;
        }

        .col-main {
          width: 50%;
        }

        .col-title {
          text-align: left;
        }

        .col-amount {
          text-align: end;
        }
      }

      li.current-balance {
        font-weight: bolder;
        font-size: large;
        border-bottom: 1px grey dotted;
      }
    }

  }

  .section.first {
   height: fit-content; 
  }
  .section.other {
    //height: 40%;
  }
  .section.incomes {
    //height: 35%;
  }

}


.repeat {
  transform: scale(-1,1);
}

.controls {
  position: fixed;
  bottom: 0;
  width: 100%;
  margin: 0;
  height: 2.5rem;
  display: flex;
  justify-content: space-around;
  background-color: white;

  .button {
    width: 48%;
  }
}

li.entry:hover {
  background-color: rgba(135, 223, 19, 0.411);
  cursor: pointer;
  transition: 0.3s;
  border-radius: 5px;
}

.selected-entry{
  background-color: rgba(135, 223, 19, 0.411);
  border-radius: 5px;
}

#datePicker {
  border: 1px solid var(--secondary);
  border-radius: 5px;
  cursor: pointer;
  font-size: large;
}
::-webkit-datetime-edit {
  text-align: center;
}
::-webkit-datetime-edit-fields-wrapper {}
::-webkit-datetime-edit-text {}
::-webkit-datetime-edit-month-field {}
::-webkit-datetime-edit-day-field {}
::-webkit-datetime-edit-year-field {}
::-webkit-inner-spin-button {}
::-webkit-calendar-picker-indicator {
  cursor: pointer;
}

.modal-card-foot{
  display: flex;
  justify-content: space-between;
}