
.container {
  width: 95%;
  height: calc(100vh - 10rem);
  padding-bottom: 1rem;

  .section {
    padding-top: 1rem;
    padding-bottom: 0;
    overflow-y: hidden;

    .head {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      border-bottom: 2px solid var(--quaternary);
      padding-bottom: 0.5rem;

      .title {
        margin: 0;
        font-size: x-large;
        color: var(--secondary);
      }

    }

    .content {
      height: 80%;
      overflow-y: scroll;
      ul {
        margin: 0.5rem 0;
      }

      li {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        span {
          width: 30%;
          text-align: center;
        }

        .col-main {
          width: 50%;
        }

        .col-title {
          text-align: left;
        }

        .col-amount {
          text-align: end;
        }
      }
    }

  }

  .section.first {
   height: fit-content; 
  }
  .section.other {
    height: 40%;
  }

}


.controls {
  position: fixed;
  bottom: 0;
  width: 100%;
  margin: 0;
  height: 2.5rem;

  .button {
    width: 100%;
  }
}



#datePicker {
  border: 1px solid var(--secondary);
  border-radius: 5px;
  cursor: pointer;
  font-size: large;
}
::-webkit-datetime-edit {
  text-align: center;
}
::-webkit-datetime-edit-fields-wrapper {}
::-webkit-datetime-edit-text {}
::-webkit-datetime-edit-month-field {}
::-webkit-datetime-edit-day-field {}
::-webkit-datetime-edit-year-field {}
::-webkit-inner-spin-button {}
::-webkit-calendar-picker-indicator {
  cursor: pointer;
}