<div class="container">
  <div class="section first">
    <div class="head">
      <span class="title">Month</span>  
      <input type="month" name="datePicker" id="datePicker" [value]="selectedMonth" (change)="setDate($event.target.value)">
    </div>
    <div class="content">
      <ul>
        <li>
          <span class="col-title col-main">Current balance:</span>
          <span class="col-amount">{{currentBalance}} €</span>
        </li>
        <li>
          <span class="col-title col-main">Cumulative balance:</span>
          <span class="col-amount">{{cumulativeBalance}} €</span>
        </li>
      </ul>
    </div>
  </div>
  
  <div class="section other">
    <div class="head">
      <span class="title">Expenses</span>  
      <span></span>
    </div>
    <div class="content">
      <ul id="expense-list">
        <li *ngFor="let tr of expenses">
          <span class="col-title">{{tr.title}}</span>
          <span>{{tr.executionDate | date: 'EE - dd'}}</span>
          <span class="col-amount">{{tr.amount}} €</span>
        </li>
      </ul>
    </div>
  </div>

  <div class="section other">
    <div class="head">
      <span class="title">Incomes</span>  
      <span></span>
    </div>
    <div class="content">
      <ul id="income-list">
        <li *ngFor="let tr of incomes">
          <span class="col-title">{{tr.title}}</span>
          <span>{{tr.executionDate | date: 'EE - dd'}}</span>
          <span class="col-amount">{{tr.amount}} €</span>
        </li>
      </ul>
    </div>
  </div>
    
</div>

<div class="controls">
  <button class="button is-primary">
    <i class="fas fa-plus"></i>
  </button>
</div>
